APP_NAME=MesiMenu
APP_ENV=local
APP_DEBUG=true
APP_URL=http://mesimenu.local
APP_PUBLIC_URL=http://192.168.100.10
APP_TIMEZONE=America/Belem
SESSION_NAME=mesimenu_session
SESSION_IDLE_TIMEOUT=1800

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=comanda360
DB_USERNAME=SEU_USUARIO_DB
DB_PASSWORD=SUA_SENHA_DB
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

DB_SCHEMA_FILE=basedados/schema_producao_implantacao_comanda360.sql
DB_SEED_FILE=basedados/seed_demo_comanda360.sql
DB_VIEWS_FILE=basedados/schema_views_relatorios_comanda360.sql
DB_SCHEMA_FILE_MYSQL84=storage/tmp/schema_producao_implantacao_comanda360.mysql84.sql
DB_CMD_CREATE_DATABASE=mysql -u SEU_USUARIO_DB --password="SUA_SENHA_DB" -e "CREATE DATABASE IF NOT EXISTS comanda360 CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
DB_CMD_IMPORT_SCHEMA=mysql -u SEU_USUARIO_DB --password="SUA_SENHA_DB" comanda360 -e "SOURCE storage/tmp/schema_producao_implantacao_comanda360.mysql84.sql"
DB_CMD_IMPORT_SEED=mysql -u SEU_USUARIO_DB --password="SUA_SENHA_DB" comanda360 -e "SOURCE basedados/seed_demo_comanda360.sql"
DB_CMD_IMPORT_VIEWS=mysql -u SEU_USUARIO_DB --password="SUA_SENHA_DB" comanda360 -e "SOURCE basedados/schema_views_relatorios_comanda360.sql"

MERCADO_PAGO_ENV=sandbox
MERCADO_PAGO_PUBLIC_KEY=SUA_PUBLIC_KEY
MERCADO_PAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN
MERCADO_PAGO_WEBHOOK_SECRET=SEU_WEBHOOK_SECRET
